# Configuración de logging
LOG_LEVEL=INFO

# Configuración de directorios
UPLOAD_DIR=static

# Configuración de CORS (múltiples orígenes separados por comas)
CORS_ORIGINS=*

# Configuración de Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=predicciones

# Configuración del modelo YOLO
# Opciones disponibles: modelos/best.pt, modelos/best_agosto.pt, modelos/best_octubre.pt
MODEL_PATH=modelos/best_octubre.pt
